<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'book:home' %}">
        <img src="" alt="img-logo">
        Book
    </a>
    
    <ul class="navbar-nav ml-auto mx-4 px-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'book:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
    </ul>
</nav>