{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <a class="navbar-brand" href="{% url 'book:home' %}">
        <img src="{% static 'img/logo.ico' %}" alt="img-logo" class='img-fluid' style="width: 3rem;">
        Book
    </a>
    
    <ul class="navbar-nav ml-auto mx-4 px-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'book:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'book:book-add' %}">Add Book</a>
        </li>
        
        <li>
            {% if user.is_authenticated %}
                <span>{{ request.user.username }}</span>
                <form action="{% url 'book:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form> 
            {% else %}
                <li class="nav-item mx-3">
                    <a class="nav-link btn btn-outline-success text-white" href="{% url 'book:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-warning text-white" href="{% url 'book:signup' %}">Sign Up</a>
                </li>
            {% endif %} 

        </li>
    </ul>
</nav>